# python
__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/
.ipynb_checkpoints/

# dbt
dbt_packages/
target/
logs/

# os/ide
.DS_Store
.vscode/

# keys and credentials
*.json
*.key
*.pem
services/scraper/keys/
*.png